# macOS 系统文件
.DS_Store

.cursor/

.swiftformat

.swiftlint.yml

Makefile

ios-ci.yml

dist/
# Xcode 用户状态文件
KuaiJi.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate

**/xcuserdata/**
*.xcuserstate

