<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
		<string>en</string>
		<string>fr</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>需要使用相机扫描二维码以添加朋友</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>需要访问本地网络以发现附近设备并同步账本数据</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_kuaiji-sync._tcp</string>
		<string>_kuaiji-sync._udp</string>
	</array>
</dict>
</plist>
